---
import { aboutmeDescription } from "../config";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Gianmarco Cavallo - About"
  description="I am a software developer with over two years of front-end development experience. I have worked on both enterprise and open-source software development projects. I am based in Italy and am currently working as a freelancer."
>
  <main
    class="relative flex flex-col text-left py-4 px-5 md:px-20 min-h-screen w-full"
  >
    <div class="max-w-2xl z-40">
      <header
        class="header-container flex items-center overflow-hidden mt-20 lg:mt-56"
      >
        <h1 class="text-white text-5xl font-bold whitespace-nowrap">
          About me
        </h1>
      </header>
      <div class="overflow-hidden">
        <p class="text-neutral-400 mt-6 max-w-2xl">
         {aboutmeDescription}
        </p>
      </div>
    </div>
  </main>
</Layout>
