---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Gianmarco Cavallo - About"
  description="I am a software developer with over two years of front-end development experience. I have worked on both enterprise and open-source software development projects. I am based in Italy and am currently working as a freelancer."
>
  <main
    class="relative flex flex-col text-left py-4 px-5 md:px-20 min-h-screen max-w-6xl w-full"
  >
    <div class="max-w-2xl z-40">
      <header
        class="header-container flex items-center overflow-hidden mt-20 lg:mt-56"
      >
        <h1 class="text-white text-5xl font-bold whitespace-nowrap">
          About me
        </h1>
      </header>
      <div class="overflow-hidden">
        <p class="text-neutral-400 mt-6 max-w-2xl">
          I am a software developer with over two years of front-end development
          experience. I have worked on both enterprise and open-source software
          development projects. I am based in Italy and am currently working as
          a freelancer. I code primarily in Solidjs, Javascript, Node.js,
          React.js, and other web technologies, but I am always willing to learn
          and use the best technology and approach to solve the problem at hand.
        </p>
      </div>
    </div>
  </main>
</Layout>
