---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gianmarco Cavallo - Frontend Developer" description="Software developer with strong focus on the user experience animations and micro interactions">
  <main
    class="flex flex-col justify-center relative w-full h-screen text-left py-4 px-5 md:px-20 my-0 mx-auto overflow-hidden box-border"
  >
    <div class="max-w-2xl z-40 relative">
      <h1
        class="flex flex-col w-fit text-5xl lg:text-8xl mt-0 mb-6 text-slate-50 font-bold uppercase"
      >
        <span class="w-fit">Gianmarco</span>
        <span class="w-fit">Cavallo</span>
      </h1>

      <h5
        class="text-slate-400 font-thin text-base lg:text-2xl overflow-hidden"
      >
        <div>Software developer with strong focus on the</div>
        <span>
          <span class="text-red-500 font-normal">user experience</span>,
          <span class="text-red-500 font-normal"> animations</span> and
          <span class="text-red-500 font-normal"> micro interactions</span>
        </span>
      </h5>
    </div>
  </main>
</Layout>
