---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Gianmarco Cavallo - Now"
  description="You can check what I'm working on lately here."
>
  <main
    class="relative flex flex-col text-left py-4 px-5 md:px-20 min-h-screen max-w-6xl w-full"
  >
    <div class="max-w-2xl z-40">
      <header
        class="header-container flex flex-col justify-center overflow-hidden mt-20 lg:mt-56"
      >
        <h1 class="text-white text-5xl font-bold whitespace-nowrap">Now</h1>
        <h6 class="text-neutral-500 whitespace-nowrap mb-1">last update 16/04/2023</h6>
      </header>
      <div class="overflow-hidden">
        <p class="text-neutral-400 mt-6 max-w-2xl">
          Currently working on @ <a href="https://gdlauncher.com" target="_blank" class="text-[#2B6CB0]">GDLauncher.com</a>
        </p>
      </div>
    </div>
  </main>
</Layout>
